<footer class="official-account">
    <div class="left-side">
        <a href="/privacy"><p class="private-info">개인정보 취급방침</p></a>
        <a href="/userAgreement"><p class="terms-of-use">이용약관</p></a>
        <p>
            재단법인 와글 | 서울특별시 성동구 왕십리로2길 20, CND빌딩 4층<br>
            T. 070-8250-0346 E. info@wagl.net<br>
            ©WAGL since 2015
        </p>
    </div>
    <div class="right-side">
        <p>info@toktok.io</p>
        <ul class="account-list">
            <a href="http://www.facebook.com/sharer/sharer.php?u=www.toktok.io"><li class="facebook"></li></a>
            <a href="https://twitter.com/intent/tweet?text=TEXT&url=www.toktok.io"><li class="twitter"></li></a>
            <li class="kakao"></li>
        </ul>
    </div>
</footer>
