<footer class="official-account">
    <div class="left-side">
        <a href="/privacy"><p class="private-info">개인정보취급방침</p></a>
        <a href="/userAgreement"><p class="terms-of-use">이용약관</p></a>
    </div>
    <div class="right-side">
        <p>info@toktok.io</p>
        <ul class="account-list">
            <li class="facebook"></li>
            <li class="twitter"></li>
            <li class="kakao"></li>
        </ul>
    </div>
</footer>