<footer class="official-account">
    <div class="left-side">
        <p class="private-info">개인정보취급방침</p>
        <p class="terms-of-use">이용약관</p>
    </div>
    <div class="right-side">
        <p>info@toktok.io</p>
        <ul class="account-list">
            <li class="facebook">F</li>
            <li class="twitter">T</li>
            <li class="kakao">K</li>
        </ul>
    </div>
</footer>