<header class="header">
    <a href="/">
        <div class="logo"></div>
    </a>
    <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
    </button>

    <!-- Expandable Textfield -->
    <form action="#" id="search-zone">
        <input id="input-search" placeholder="SEARCH">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="input-search">
            <i class="material-icons search-btn">search</i>
        </label>
    </form>

    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="demo-menu-lower-right">
        {{^authenticatedUser}}
            <a href="/login" id="login"><li class="mdl-menu__item">로그인</li></a>
        {{/authenticatedUser}}
        {{#authenticatedUser}}
            <a href="/projectForm"><li class="mdl-menu__item">제안하기</li></a>
            <a href="/my"><li class="mdl-menu__item">마이페이지</li></a>
            <a href="/logout"<li class="mdl-menu__item">로그아웃</li></a>
        {{/authenticatedUser}}
        <a href="/projectForm"><li class="mdl-menu__item">국회톡톡이란?</li></a>
        {{#staff}}
            <a href="/administrator/projects"><li class="mdl-menu__item">프로젝트 관리</li></a>
            <a href="/administrator/committees"><li class="mdl-menu__item">상임위 관리</li></a>
            <a href="/administrator/assemblyman"><li class="mdl-menu__item">의원 관리</li></a>
            <a href="/administrator/slides"><li class="mdl-menu__item">슬라이드 관리</li></a>
            <a href="/administrator/list"><li class="mdl-menu__item">스텝 관리</li></a>
        {{/staff}}
    </ul>
</header>