main {
    margin: 20px;
}

main button {
    padding: 5px 10px;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px;
    background-color: #5d9eee;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}

main table.administrators {
    width: 80%;
    margin: 20px auto;
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}

table.administrators td, table.administrators th {
    border: solid 1px;
    text-align: center;
    padding: 20px 30px;
}

table.administrators th {
    background-color: #ff962e;
}

td.image {
    height: 100px;
    width: 60%;
}

td.image input {
    display: none;
}

form.add-administrator-zone {
    border: solid 1px;
    padding: 0 0 30px 0;
}

form.add-slide-zone {
    border: solid 1px;
    padding: 0 0 30px 0;
}

form.add-administrator-zone h3 {
    margin: 0 0 30px 0;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #FFEC0D;
}

form.add-administrator-zone {
    width: 80%;
    margin: auto;
}

form.add-administrator-zone label {
    margin: 0 0 0 30px;
    font-size: 1.3em;
}

form.add-administrator-zone input {
    font-size: 1.3em;
    margin: 0 0 0 20px;
}

form.add-slide-zone input::-webkit-file-upload-button {
    vertical-align: top;
}

button.add-administrator {
    vertical-align: top;
    margin: 0 30px;
}