main {
    margin: 20px;
}

table.timelines {
    width: 95%;
    margin: 20px auto;
    border-spacing: 0;
    text-align: center;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}

table.timelines thead th {
    border: solid 0.5px;
    background-color: #E8820C;
}

table.timelines td {
    border: solid 0.5px;
    padding: 10px;
}

th.date {
    min-width: 90px;
}

th.contents {
    width: 70%;
}

div.add-timeline-zone {
    margin: 10px;
    vertical-align: middle;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}

div.add-timeline-zone h3 {
    margin: 10px 0 30px 0;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #FFEC0D;
}

div.add-timeline-zone input.input-date {
    vertical-align: top;
    margin: 0 20px;
}

div.add-timeline-zone textarea {
    width: 50%;
    height: 60px;
    margin: 0 0 20px 0;
}

div.add-timeline-zone select.subject {
    vertical-align: top;
    margin: 0 20px;
    font-size: 1em;
}

button.add-timeline-btn {
    vertical-align: top;
    width: 80px;
    height: 40px;
    padding: 5px;
    font-size: 1.2em;
    border: none;
    border-radius: 1em;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}