h1, h2 {
    text-align: center;
    margin: 60px 0 55px 0;
    font-size: 20pt;
    font-weight: bold;
}

div.find-password-zone {
    width: 80%;
    margin: auto;
}

.find-password-zone label {
    position: absolute;
    z-index: 10;
    font-size: 11pt;
    font-weight: bold;
    margin: 18px 0 0 20px;
    text-align: left;
}

.find-password-zone label.label-password-confirm {
    margin: 8px 0 0 20px;
}

.label-email {
    color: #5d9eee;
}

.email-form input {
    width: 65%;
    font-size: 10pt;
    height: 50px;
    margin: 0 0 14px 0;
    padding-left: 100px;
}

.email-form input::placeholder {
    text-align: center;
    color: #b2b2b2;
}

form.email-form p {
    margin: 2px 0 0 0;
    font-size: 0.9em;
}

form.email-form .submit-btn {
    width: 250px;
    height: 50px;
    display: block;
    padding: 0;
    background-color: #fd515d;
    margin: 50px auto 80px auto;
    font-size: 18px;
    font-weight: bold;
}


