body {
    background-color: #FFFFFF;
}

div.dim {
    display: none;
    width: 100%;
    height: 110%;
    background-color: #3c3c3b;
    position: fixed;
    opacity: 0.6;
    z-index: 5;
    top: -30px;
}

div.dim.is-visible {
    display: block;
}

div.info-modal {
    background-color: #FFFFFF;
    width: 350px;
    max-width: 400px;
    display: none;
    position: absolute;
    z-index: 10;
    box-shadow: 2px 4px #BBBBBB;
    left: 50%;
    margin-left: -175px;
    top: 80px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

div.info-modal.is-visible {
    display: block;
}

h5.info-label {
    margin: 0;
    padding: 10px;
    background-color: #5d9eee;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
}

.main-img {
    width: 100%;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}

img.info-img {
    width: 100%;
}

.category-list {
    list-style: none;
    padding: 0;
}

.category {
    display: inline-block;
    width: 30px;
    padding: 5px;
    background-color: #18c3b3;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}

.desc {
    margin: 5%;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
}

ul.status-zone {
    list-style: none;
    width: 80%;
    padding: 0;
    text-align: center;
    margin: 20px auto;
}

li.status {
    display: inline-block;
    width: 30%;
    border: solid #b2b2b2 1px;
    padding: 5px 0;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}

li.status.past {
    background-color: #5ec4e3;
}

li.status.past::before {
    content: '✓';
    position: relative;
    right: 5px;
}

li.status.active {
    background-color: #5d9eee;
    color: #FFFFFF;
}

.step {
    display: inline-block;
    width: 50px;
    margin: 10px 0 0 0;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    background-color: #fbef03;
}

.guide:before {
    content: '';
    position: absolute;
    border-bottom: 20px solid rgba(0,0,0,.14);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    top: -18px;
    left: 50px;

}

.guide:after {
    content: '';
    position: absolute;
    border-bottom: 20px solid #ffffff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    top: -16px;
    left: 50px;

}

.guide {
    position: absolute;
    margin: 15px auto;
    width: 300px;
    background-color: #ffffff;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
    padding: 15px;
    display: none;
}

.guide.is-visible {
    display: block;
}

img.guide-image {
    width: 90%;
    margin: 10px auto;
    padding: 5%;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}

.step:hover {
    cursor: pointer;
}

.profile {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 3em;
    background-image: url("/img/baseline-account_circle-24px.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h5.writer {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    margin: 10px 3px;
}

.percentage-zone {
    width: 95%;
    background-color: #DDDDDD;
    margin: 15px auto;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}

.percentage-zone .percentage {
    height: 5px;
    background-color: #18c3b3;
}

.count, .percentage-number {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: #18c3b3;
    margin: 0;
}

.percentage-number {
    float: right;
}

.join-btn {
    display: block;
    margin: 20px auto;
    font-size: 16px;
    font-weight: bold;
    background-color: #fbef03;
    padding: 7px 20px;
    outline: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}

.join-btn.is-active {
    background-color: #0000FF;
}

.join-btn:hover {
    cursor: pointer;
}

ul.share-list {
    display: table;
    padding: 0;
    margin: auto;
    list-style: none;
}

ul.share-list .share {
    margin: 10px 5px;
    width: 40px;
    height: 40px;
    border-radius: 2em;
    display: inline-block;
    background-size: cover;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}

ul.share-list .facebook {
    background-image: url("/img/facebook-icon.png");
}

ul.share-list .twitter {
    background-image: url("/img/twitter-icon.png");
}

ul.share-list .kakao {
    background-image: url("/img/kakao-icon.png");
}


div.assembly {
    margin: 40px 0 0 0;
}

div.assembly label {
    color: #666666;
}

ul#assembly-man-list {
    list-style: none;
    padding: 0;
}

ul#assembly-man-list li {
    display: inline-block;
    margin: 0 15px;
}

.assembly-man .profile-img {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 2em;
    background-image: url("/img/assembly.png");
    background-size: cover;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}

.assembly-man p {
    margin: 5px 0;
    font-size: 13px;
    color: #444444;
}

ul#committee {
    list-style: none;
    padding: 0;
}

.each-committee:hover {
    cursor: pointer;
}

ul#committee li {
    margin: 3px 5px;
    padding: 4px 9px;
    font-size: 12px;
    display: inline-block;
    background-color: #fd515d;
    color: #FFFFFF;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}

nav.info-subject {
    width: 100%;
    border-top: solid #b2b2b2 1px;
    border-bottom: solid #b2b2b2 1px;
    padding: 14px 0;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}

nav.info-subject button {
    width: 32%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border: none;
    background-color: #FFFFFF;
}

nav.info-subject button.active {
    color: #18c3b3;
}

div.info-contents {
    padding: 10%;
}

div.info-contents {
    display: none;
    padding: 40px 24px;
}

div.info-contents.is-visible {
    display: block;
}

ul.timeline-list {
    list-style: none;
    margin: 0;
}

li.each-timeline::before {
    content: "•";
    color: #18c3b3;
    display: inline-block;
    width: 1em;
    margin-left: -20px;
    font-size: 54px;
}

li.each-timeline {
    margin: -12px 0 0 0;
}

div.outer-border {
    border-left: solid #18c3b3;
    margin: -24px 0 0 -12.5px;
    padding: 0 0 42px 0;
}

div.outer-border.white {
    border: #FFFFFF;
}

p.date {
    position: absolute;
    margin: -10px 0 0 16px;
    font-size: 18px;
    font-weight: bold;
    color: #18c3b3;
}

h4 {
    font-weight: bold;
    margin: 60px 0 10px 0;
}

p.contents {
    margin: 5px 0 0 20px;
    padding: 18px 24px;
    border: solid #b2b2b2;
}

ul.discussion-list {
    list-style: none;
    padding: 0;
}

ul.discussion-list.best li.each-discussion {
    border: solid #b2b2b2 1px;
}

ul.discussion-list.new li.each-discussion {
    border-bottom: solid #b2b2b2 1px;
}

.best-tag {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #fd515d;
    text-align: center;
    color: #FFFFFF;
}

li.each-discussion td {
    vertical-align: top;
}

li.each-discussion td.left {
    width: 150px;
}

li.each-discussion td.right {
    padding: 10px 10px 20px 10px;
}

div.writer-info-zone {
    display: inline-block;
    margin: 13px 0 0 10px;
}

div.writer-info-zone .profile {
    vertical-align: top;
    margin: 0 0 0 15px;
}

div.writer-info-zone .nickname {
    display: inline-block;
    vertical-align: middle;
    color: #3c3c3b;
    font-size: 10pt;
    margin: 10px 0 0 0;
}

div.writer-info-zone .written-date {
    margin: 0;
    font-size: 8pt;
    color: #8b8b8b;
}

.discussion-info {
    text-align: center;
}

.discussion-info button {
    width: 60px;
    height: 30px;
    margin: 5px 0;
    border: solid #b2b2b2 1px;
    background-color: #FFFFFF;
    font-weight: bold;
    box-shadow: #b2b2b2 2px 1px;
}

.discussion-info button:hover {
    cursor: pointer;
}

#likes-zone {
    display: none;
}

button.likes {
    padding: 5px 0 5px 20px;
    background-image: url("/img/like.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 3px 3px;
}

@keyframes beat {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }

    50% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }

    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

button.likes.is-active {
    background-color: #5d9eee;
    animation: beat 0.5s;
    -webkit-animation: beat 0.5s;
}

.discussion-info {
    display: inline-block;
}

button.load-all-comments {
    margin: 20px auto;
    display: block;
    font-size: 20px;
    padding: 10px 20px;
    background: none;
    border-radius: 0.5em;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
}

button.load-all-comments:hover {
    cursor: pointer;
    opacity: 0.8;
}

#write-comment-zone {
    text-align: center;
}

#write-comment-zone .input-comment{
    width: 70%;
    background-color: #efefef;
    border: none;
}

#write-comment-zone button.submit-comment-btn {
    vertical-align: top;
    margin: 5px;
    width: 10%;
    min-width: 55px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}

div.modal {
    display: none;
    position: fixed;
    top: 10%;
    width: 50%;
    height: 70%;
    left: 25%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
    overflow-y: scroll;
    z-index: 10;
}

div.modal.is-visible {
    display: block;
}

div.modal ul {
    list-style: none;
}

div.modal li {
    display: none;
    margin: 10px 15px;
}

div.modal li.is-visible {
    display: inline-block;
}

#modal-no-response .profile-img {
    opacity: 0.4;
}

@media screen and (min-width: 400px) {
    img.main-img {
        height: 400px;
    }
}

@media screen and (min-width: 900px) {
    .step {
        margin: 30px 0 0 0;
    }

    ul.share-list {
        float: right;
        margin: -60px 0 0 0;
    }
}

@media screen and (max-width: 900px) {
    .matching.guide {
        margin: 15px 0 0 -120px;
    }

    .matching.guide:before {
        top: -18px;
        left: 150px;
    }

    .matching.guide:after {
        top: -15px;
        left: 150px;
    }

    .running.guide {
        margin: 15px 0 0 -200px;
    }

    .running.guide:before {
        top: -18px;
        left: 230px;
    }

    .running.guide:after {
        top: -15px;
        left: 230px;
    }
}

