.main-projects {
    margin: 30px 0 0 0;
    text-align: center;
}

div.subject {
    padding: 30px 0 30px 0;
}

label.subject {
    font-size: 25px;
}

div.subject hr {
    margin: auto;
    width: 30px;
    height: 5px;
    border-width: 3px;
    border-color: #000000;
}

label.subject-name {
    display: inline-block;
    margin: 10px 0 0 0;
    font-size: 20px;
    font-weight: bold;
}

p.subject-desc {
    margin: 6px 0 0 0;
    font-size: 15px;
    font-weight: bold;
}

ul.project-list {
    list-style: none;
    padding: 0;
    width: 90%;
    margin: 30px auto;
}

li.project {
    background-color: #FFFFFF;
    margin: 0 0 30px 0;
}

.project-img {
    width: 100%;
    height: 250px;
    background-color: palevioletred;
}

.project .status {
    float: right;
    background-color: #fbef03;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}

.project .project-summary {
    height: 100px;
}

.project h5 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px;
    text-align: left;
}

.category-list {
    list-style: none;
    padding: 0;
}

.category {
    display: inline-block;
    width: 30px;
    padding: 5px;
    background-color: #18c3b3;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.percentage-zone {
    width: 80%;
    background-color: #DDDDDD;
    margin: 15px auto;
}

.percentage-zone .percentage {
    height: 7px;
    background-color: #18c3b3;
}

.count, .percentage-number {
    width: 60px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: #18c3b3;
    margin: 0;
    text-align: left;
}

.count {
    float: left;
    margin: 0 0 0 30px;
}

.percentage-number {
    float: right;
}

div.subject.best {
    background-color: #fbef03;
}