<!DOCTYPE HTML>
<html>
<head>
    {{> include/head}}
    <title>제안 작성</title>
    <link rel="stylesheet" href="/css/adminProjectForm.css">
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
</head>
<body>
{{> include/header}}
<main>
    <a href="/administrator/projects/1" class="move-projects"><< 제안 상태 관리</a>
    <div class="page">
        <div class="input-zone">
            <label for="title">제목</label>
            <input id="title">
        </div>

        <div class="input-zone">
            <label for="name">제안자 이름</label>
            <input type="text" id="name">
        </div>

        <div class="input-zone">
            <label for="email">제안자 이름</label>
            <input type="text" id="email">
        </div>

        <div class="input-zone">
            <label for="phone">제안자 휴대폰</label>
            <input id="phone">
        </div>

        <div class="input-zone">
            <label for= "editor">제안 내용</label>
            <textarea name="editor1" id="editor"></textarea>
        </div>

        <div class="input-zone">
            <label for= "summary">제안 내용 요약</label>
            <textarea id="summary" rows="10"></textarea>
        </div>

        <div class="input-zone">
            <label for= "introduce">제안자 설명</label>
            <textarea id="introduce" rows="10"></textarea>
        </div>

        <div class="input-zone">
            <label for= "profile-img">제안 대표이미지</label>
            <input type="file" id="profile-img" rows="10"></input>
        </div>

        <div class="page-move-btns">
            <button type="submit" id="submit-btn">변경사항 저장</button>
        </div>
    </div>
</main>
<!--<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>-->
<script src="https://cdn.ckeditor.com/4.10.0/standard-all/ckeditor.js"></script>
<script type="text/javascript" src="/js/projectForm.js"></script>
{{> include/footer}}
</body>
</html>