<!DOCTYPE HTML>
<html>
<head>
    {{> include/head}}
    <title>의원 관리</title>
    <link rel="stylesheet" href="/css/adminAssemblyman.css">
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
</head>
<body>
{{> include/header}}
<main>
    <div class="page">
        <h1>의원 관리</h1>
        <table class="assemblyman">
            <thead>
                <hr>
                    <th class="id">#ID</th>
                    <th class="name">이름</th>
                    <th class="act">정당</th>
                    <th class="act">상임위원회</th>
                    <th class="act">이메일</th>
                    <th class="act">프로필 이미지</th>
                    <th class="act">관리</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>김삼화</td>
                    <td>바른미래당</td>
                    <td>행정안전위원회</td>
                    <td>abc@email.com</td>
                    <td>프로필 이미지</td>
                    <td>
                        <button>수정</button>
                        <button>삭제</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="add-assemblyman-zone">
        <h3>새 의원 추가</h3>
        <form class="add-assemblyman">
            <div class="input-zone">
                <label for="input-name">이름</label>
                <input type="text" class="name" id="input-name" placeholder="이름을 입력해주세요">
            </div>

            <div class="input-zone">
                <label for="select-party">정당</label>
                <select id="select-party">
                    <option>더불어민주당</option>
                    <option>자유한국당</option>
                </select>
            </div>

            <div class="input-zone">
                <label for="select-committee">상임위원회</label>
                <select id="select-committee">
                    <option>행정안전위원회</option>
                </select>
            </div>

            <div class="input-zone">
                <label for="input-email">이메일</label>
                <input type="email" id="input-email">
            </div>

            <div class="input-zone">
                <label for="input-profile">프로필 사진</label>
                <input type="file" id="input-profile">
            </div>

            <button class="add-assemblyman-btn">입력</button>
            <br>
        </form>
    </div>
</main>
<!--<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>-->
<script src="https://cdn.ckeditor.com/4.10.0/standard-all/ckeditor.js"></script>
<script type="text/javascript" src="/js/projectForm.js"></script>
{{> include/footer}}
</body>
</html>