<!DOCTYPE HTML>
<html>
<head>
    {{> include/head}}
    <title>제안 작성</title>
    <link rel="stylesheet" href="/css/adminProject.css">
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
</head>
<body>
{{> include/header}}
<main>
    <a href="/administrator/projects" class="move-projects"><< 제안목록으로</a>
    <div class="page">
        <h3>몰카 판매 금지 법안을 제안합니다.</h3>
        <div class="options">
            <a href="/administrator/projectForm/1"><button class="projectForm">제안 내용 수정</button></a>
            <button class="participation-list">참여 리스트 다운</button>
            <button class="update-timeline">타임라인 수정</button>
            <button class="suggestions">건의 내용 확인</button>
        </div>
        <div class="input-zone">
            <label for="status">프로젝트 상태('매칭실패' 또는 '입법활동' 상태만 선택할 수 있습니다. (나머지 상태는 참여자수에 따라 자동으로 설정됩니다)</label>
            <select id="status">
                <option>해당사항 없음</option>
                <option>입법 활동</option>
                <option>매칭 실패</option>
            </select>
        </div>

        <div class="input-zone">
            <label for="matching-period">매칭 기간</label>
            <input type="date" id="matching-period">
            <input type="date" id="matching-period-end">
        </div>

        <div class="input-zone">
            <label for="goal-count">목표 참여인원</label>
            <input type="number" id="goal-count" value="1000">
        </div>

        <div class="input-zone">
            <label for="platform-uri">입법 플랫폼 URI</label>
            <input id="platform-uri">
        </div>

        <div class="input-zone">
            <form>
                <label for="platform-uri">의원 목록</label>
                <a href="#">의원/위원회 관리</a>
                <div class="committee-zone">
                    <h6>여성가족위원회</h6>
                    <ul>
                        <li>
                            <p class="name">권미혁</p>
                            <p class="participation-status">참여</p>
                        </li>
                        <li>
                            <p class="name">남인순</p>
                            <p class="participation-status">참여</p>
                        </li>
                        <li>
                            <p class="name">금태섭</p>
                            <p class="participation-status">참여</p>
                        </li>
                        <li>
                            <p class="name">김삼화</p>
                            <p class="participation-status">참여</p>
                        </li>
                        <li>
                            <p class="name">김승희</p>
                            <p class="participation-status">참여</p>
                        </li>
                        <li>
                            <p class="name">박경미</p>
                            <p class="participation-status">참여</p>
                        </li>
                    </ul>
                </div><!--div.committee-zone-->
            </form>
        </div> <!--div.input-zone-->
        <div class="page-move-btns">
            <button type="submit">변경사항 저장</button>
        </div>
    </div>
</main>
<!--<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>-->
<script src="https://cdn.ckeditor.com/4.10.0/standard-all/ckeditor.js"></script>
<script type="text/javascript" src="/js/projectForm.js"></script>
{{> include/footer}}
</body>
</html>