<!DOCTYPE HTML>
<html>
<head>
    {{> include/head}}
    <title>상임위원회 관리</title>
    <link rel="stylesheet" href="/css/adminCommittees.css">
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
</head>
<body>
{{> include/header}}
<main>
    <div class="page">
        <h1>상임위원회 관리</h1>
        {{committees}}
        <table class="committees">
            <thead>
                <hr>
                    <th class="id">#ID</th>
                    <th class="name">이름</th>
                    <th class="act">관리</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>행정안전위원회</td>
                    <td>
                        <button>수정</button>
                        <button>삭제</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="add-committee-zone">
        <h3>새 위원회 추가</h3>
        <input type="text" class="input-name" placeholder="이름을 입력해주세요">
        <button class="add-committee-btn">입력</button>
    </div>
</main>
<!--<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>-->
<script src="https://cdn.ckeditor.com/4.10.0/standard-all/ckeditor.js"></script>
<script type="text/javascript" src="/js/projectForm.js"></script>
{{> include/footer}}
</body>
</html>