<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>국회톡톡</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/checking.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
<header class="header">
    <a href="/">
        <div class="logo"></div>
    </a>
</header>
<main>
    <img src="/img/logo-icon.png">
    <h2>국회톡톡이 새 단장을 합니다.</h2>
    <h3>시민입법제안 플랫폼 ‘국회톡톡’이 더 나은 서비스를 제공하기 위해 잠시 휴식을 갖습니다. 한층 새로워진 모습으로 다시 만나요!</h3>
    <h4>서비스 임시중단 기간: 2018년 8월 00일 00시 ~ 2018년 8월 00일 00시</h4>
</main>

</body>
</html>