<!DOCTYPE HTML>
<html>
<head>
    {{> include/head}}
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/css/editPassword.css">
</head>
<body>
    {{> include/header}}
    <div class="edit-password-zone">
        <h2>비밀번호 변경하기</h2>
        <form class="password-form">
            <div class="input-zone">
                <label class="label-password" for="password">새 비밀번호</label>
                <input class="input-password" id="password" type="password" placeholder="새로운 비밀번호를 입력해주세요">
            </div>
            <div class="input-zone">
                <label class="label-password confirm" for="password-confirm">새 비밀번호 확인</label>
                <input class="input-password confirm" id="password-confirm" type="password" placeholder="비밀번호를 입력해주세요">
            </div>
            <input class="submit-btn" type="submit" value="비밀번호 변경">
        </form>
    </div>
    <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
    {{> include/footer}}
    <script type="text/javascript" src="/js/editPassword.js"></script>
</body>
</html>