<!DOCTYPE HTML>
<html>
<head>
    {{> include/head}}
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="/css/findPassword.css">
</head>
<body>
    {{> include/header}}
    <div class="find-password-zone">
        <h2>비밀번호 찾기</h2>
        <form class="email-form">
            <div class="input-zone">
                <label class="label-email" for="email">E-mail</label>
                <input class="input-email" id="email" type="email" placeholder="이메일을 입력해주세요">
            </div>
            <p>입력한 이메일로 비밀번호 재설정 메일을 보내드립니다.</p>
            <input class="submit-btn" type="submit" value="변경메일 보내기">
        </form>
    </div>
    <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
    {{> include/footer}}
    <script type="text/javascript" src="/js/findPassword.js"></script>
</body>
</html>