<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>국회톡톡</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/project.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    {{> include/header}}
    <div class="main-carousel">
        <ul class="carousel-page-list">
            <li class="carousel-page page-1 is-visible" data-item="1">
                <p>시민의 제안으로 법안을 만듭니다</p>
                <h6>새로워진 국회톡톡에서<br>
                직접 국회에 제안해보세요.</h6>
                <a class="project-form">제안하기</a>
            </li>
            <li class="carousel-page page-2" data-item="2">
                PAGE2
            </li>
            <li class="carousel-page page-3" data-item="3">
                PAGE3
            </li>
        </ul>
        <ul class="carousel-index-list">
            <li class="carousel-index is-checked" data-item="1"></li>
            <li class="carousel-index" data-item="2"></li>
            <li class="carousel-index" data-item="3"></li>
        </ul>
    </div>
    <div class="main-projects">
        <div class="subject imminent">
            <hr>
            <label class="subject-name" for="imminent">임박제안</label>
            <p class="subject-desc">마감일이 얼마 남지 않은 제안들을 확인해보세요.</p>
            <ul class="project-list imminent" id="imminent">
                <li class="project">
                    <div class="project-img">
                        <div class="status">시민참여</div>
                    </div>
                    <div class="project-summary">
                        <h5>임신 중단 전면 합법화를 촉구합니다.</h5>
                        <div class="percentage-zone"><div class="percentage"></div></div>
                        <p class="count">1340명</p>
                        <p class="percentage-number">78%</p>
                    </div>
                </li>
                <li class="project">
                    <div class="project-img">
                        <div class="status">시민참여</div>
                    </div>
                    <div class="project-summary">
                        <h5>사립유치원 육성법 제정을 요청드립니다.</h5>
                        <div class="percentage-zone"><div class="percentage"></div></div>
                        <p class="count">1340명</p>
                        <p class="percentage-number">78%</p>
                    </div>
                </li>
                <li class="project">
                    <div class="project-img">
                        <div class="status">시민참여</div>
                    </div>
                    <div class="project-summary">
                        <h5>K-POP법</h5>
                        <div class="percentage-zone"><div class="percentage"></div></div>
                        <p class="count">1340명</p>
                        <p class="percentage-number">78%</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="subject best">
            <hr>
            <label class="subject-name" for="best">베스트 제안</label>
            <p class="subject-desc">가장 참여율이 높은 베스트 제안들을 확인해보세요.</p>
            <ul class="project-list best" id="best">
                <li class="project">
                    <div class="project-img">
                        <div class="status">입법활동</div>
                    </div>
                    <div class="project-summary">
                        <h5>몰카 판매 금지법안을 제안합니다.</h5>
                        <div class="percentage-zone"><div class="percentage"></div></div>
                        <p class="count">1340명</p>
                        <p class="percentage-number">78%</p>
                    </div>
                </li>
                <li class="project">
                    <div class="project-img">
                        <div class="status">매칭실패</div>
                    </div>
                    <div class="project-summary">
                        <h5>신입사원과 복직자에게 휴가를 주세요.</h5>
                        <div class="percentage-zone"><div class="percentage"></div></div>
                        <p class="count">1340명</p>
                        <p class="percentage-number">78%</p>
                    </div>
                </li>
                <li class="project">
                    <div class="project-img">
                        <div class="status">매칭 실패</div>
                    </div>
                    <div class="project-summary">
                        <h5>장애아동 참여기구를 만들어 주세요.</h5>
                        <div class="percentage-zone"><div class="percentage"></div></div>
                        <p class="count">1340명</p>
                        <p class="percentage-number">78%</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="subject new">
            <hr>
            <label class="subject-name" for="new">신규 제안</label>
            <p class="subject-desc">새로운 제안들을 확인해보세요.</p>
            <ul class="project-list new" id="new">
                <li class="project">
                    <div class="project-img">
                        <div class="status">시민참여</div>
                    </div>
                    <div class="project-summary">
                        <h5>웹소설 유통사 수수료 상한법</h5>
                        <div class="percentage-zone"><div class="percentage"></div></div>
                        <p class="count">1340명</p>
                        <p class="percentage-number">78%</p>
                    </div>
                </li>
                <li class="project">
                    <div class="project-img">
                        <div class="status">매칭실패</div>
                    </div>
                    <div class="project-summary">
                        <h5>음주 범죄, 강력한 처벌이 필요합니다!</h5>
                        <div class="percentage-zone"><div class="percentage"></div></div>
                        <p class="count">1340명</p>
                        <p class="percentage-number">78%</p>
                    </div>
                </li>
                <li class="project">
                    <div class="project-img">
                        <div class="status">매칭 실패</div>
                    </div>
                    <div class="project-summary">
                        <h5>유기견, 반려견 등 식용금지 법</h5>
                        <div class="percentage-zone"><div class="percentage"></div></div>
                        <p class="count">1340명</p>
                        <p class="percentage-number">78%</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {{> include/footer}}
    <!--<script type="text/javascript" src="/dist/index-bundle.js"></script>-->
<script type="text/javascript" src="/js/carousel.js"></script>
</body>
</html>