<!DOCTYPE HTML>
<html>
<head>
    {{> include/head}}
    <title>로그인</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
{{> include/header}}
<div class="social-login-zone">
    <h1>Log in</h1>
    <ul class="social-login-list">
        <li class="social-login facebook"><a href="#">Facebook 로그인</a></li>
        <li class="social-login twitter"><a href="#">Twitter 로그인</a></li>
        <li class="social-login kakao"><a href="#">Kakao 로그인</a></li>
    </ul>
</div>

<div class="email-login-zone">
    <h2>E-mail 로그인</h2>
    <form class="login-form">
        <input class="input-email" type="email" placeholder="E-mail">
        <input class="input-password" type="password" placeholder="password">
        <input class="submit-btn" type="submit" value="Log In">
    </form>
</div>

<div class="others-zone">
    <a class="sign-up" href="/users/form">회원가입</a>
    <a class="find-password" href="/users/password">비밀번호 찾기</a>
</div>
<div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
{{> include/footer}}
<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>