<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>국회톡톡</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/login.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    {{> include/header}}
    <div class="social-login-zone">
        <h1>Log in</h1>
        <ul class="social-login-list">
            <li class="social-login facebook"><a href="#">Facebook 로그인</a></li>
            <li class="social-login twitter"><a href="#">Twitter 로그인</a></li>
            <li class="social-login kakao"><a href="#">Kakao 로그인</a></li>
        </ul>
    </div>

    <div class="email-login-zone">
        <h2>E-mail 로그인</h2>
        <form class="login-form">
            <input class="input-email" type="email" placeholder="E-mail">
            <input class="input-password" type="password" placeholder="password">
            <input class="submit-btn" type="submit" value="Log In">
        </form>
    </div>

    <div class="others-zone">
        <a class="sign-up" href="/users/form">회원가입</a>
        <a class="find-password" href="/users/password">비밀번호 찾기</a>
    </div>

    {{> include/footer}}
</body>
</html>