<!DOCTYPE HTML>
<html>
<head>
    {{> include/head}}
    <title>프로젝트 목록</title>
    <link rel="stylesheet" href="/css/userForm.css">
    <link rel="stylesheet" href="/css/projectList.css">
</head>
<body>
{{> include/header}}
<main>
    <div id="root"></div>
</main>
{{> include/footer}}
<script type="text/javascript" src="/dist/projectList-bundle.js"></script>
<!--<script type="text/babel">-->
    <!--var CommentBox = React.createClass({-->
        <!--render: function() {-->
          <!--return (-->
            <!--<div className="commentBox">-->
                <!--Hello world!-->
            <!--</div>-->
          <!--);-->
        <!--}-->
    <!--});-->
    <!--ReactDOM.render(-->
      <!--<CommentBox/>,-->
            <!--document.getElementById('content')-->
    <!--);-->
<!--</script>-->
<!--<script type="text/javascript" src="/js/projectList.js"></script>-->
</body>
</html>